<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Container for metadata (is not displayed):
        - Title
        - Styles
        - Link
        - Scripts
        - Meta
     -->
    <style></style>
</head>
<body>
    <h1>Welcome to Java Developer Course</h1>
    <h2>This is H2</h2>
    <h3>This is H3</h3>
    <h4>This is H4</h4>
    <h5>This is H5</h5>

    <h1 align="center" style="color: blue">Spring Framework</h1>
    <img src="" alt="Spring Boot Image">
    <ul>
        <li>MVC</li>
        <li>ORM</li>
        <li>API</li>
    </ul>
    <a href="https://amazon.com">Amazon</a>

    <table>
        <tbody>
            <tr>
                <td>Loop</td>
                <td>Collection</td>
                <td>Stream</td>
            </tr>
            <tr>
                <td>IoC</td>
                <td>DI</td>
                <td>MVC</td>
            </tr>
        </tbody>
    </table>

    <label>User Name:</label>
    <input type="text" name="username"><br>

    <label>Password:</label>
    <input type="password" name="password"><br>

    <label>Enter your comments:</label>
    <textarea name="comments"></textarea><br>

    <label>Please select your favorite subject:</label><br>
    <input type="radio" name="Spring" value="IoC" checked="checked">IoC
    <input type="radio" name="Spring" value="DI">DI
    <input type="radio" name="Spring" value="MVC">MVC
    <br>

    <label>Please select your Company:</label><br>
    <input type="checkbox" name="company" value="Bank of America">BOA
    <input type="checkbox" name="company" value="SouthWest Airlines">SWA
    <input type="checkbox" name="company" value="Limited">LTD
    <br>

    <label>Select your car:</label>
    <select name="cars">
        <option value="honda">Honda</option>
        <option value="nissan">Nissan</option>
        <option value="bmw">BMW</option>
    </select>

    <form action="#" method="get">
        First Name:<input type="text" name="first_name"/>
        <br>
        Last Name:<input type="text" name="last_name"/>
    </form>

    <div>
        <h3>This is Java Developer Course</h3>
        <ul>
            <li>Spring Framework</li>
            <li>Security</li>
            <li>Unit Testing</li>
        </ul>
    </div>





</body>
</html>